.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.videoBackground video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.heading2 {
  padding-top: 50px;
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  background: linear-gradient(to right, rgba(23, 37, 90, 0.8), rgba(201, 64, 101, 0.8));
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.herocontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  text-align: left;
}

.heroimage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.herotext {
    max-width: 600px;
}

.herotext h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.herotext p {
    text-align: justify;
    font-size: 18px;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    padding-bottom: 10px;
}

.sociallinks {
    display: flex; 
    justify-content: center;
    margin-top: 2rem;
}

.sociallinks a {
    margin: 0 15px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sociallinks a:hover {
    color: #005582;
    text-decoration: underline;
}

.sociallinks img.icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.gmailicon {
    height: 19px; 
    width: 25px; 
    margin-right: 8px; 
}

.sociallinks a:nth-child(3) {
    color: white;
    text-decoration: none; 
}

.sectionlinks {
    display: flex; 
    justify-content: center;
    margin-top: 2rem;
}

.sectionlinks a {
    display: inline-block;
    margin: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.sectionlinks a:hover {
    border-color: #0077b5;
}

.projectsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    margin: 20px 0;
    justify-items: center;
    width: 100%;
    padding: 40px 20px;
    background: linear-gradient(to right, rgba(23, 37, 90, 0.8), rgba(201, 64, 101, 0.8));
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projectcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background: rgba(23, 37, 90, 0.8);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.projectimage {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
}

.projectdetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px;
}

.projecttitle {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.projectpoints {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
    text-align: left;
}

.projectpoints li {
    margin-bottom: 5px;
    color: #fff;
}

.projectbutton {
    display: inline-block;
    margin-top: auto; /* Ensures it stays at the bottom */
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.projectbutton:hover {
    background: #0056b3;
}

.experiencecontainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(23, 37, 90, 0.8), rgba(201, 64, 101, 0.8));
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.experiencecard {
    width: 95%;
    display: flex;
    align-items: flex-start;
    background: rgba(23, 37, 90, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.experiencelogo {
    width: 75px;
    height: 75px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.experiencedetails {
    flex: 1;
    color: #fff;
}

.experienceheader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.experiencecompany {
    font-size: 1.2em;
    font-weight: bold;
}

.experiencedate {
    font-size: 0.9em;
    color: #fff;
}

.experiencesubheader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px 0 10px;
}

.experiencerole {
    font-weight: bold;
    font-size: 1em;
}

.experiencelocation {
    font-size: 0.9em;
    color: #fff;
}

#skills {
    padding: 50px 20px;
    background: linear-gradient(to right, rgba(23, 37, 90, 0.8), rgba(201, 64, 101, 0.8)); 
    color: #fff;
}

.skillscontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(23, 37, 90, 0.8), rgba(201, 64, 101, 0.8));
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skillscategory {
    width: 100%;
    max-width: 300px;
    background: rgba(23, 37, 90, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skillscategory h3 {
    font-size: 1.5rem;
    color: #fff; 
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.skillslist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
    margin-top: 15px;
}

.skillbox {
    background:  rgba(201, 64, 101, 0.8);
    opacity: 0.95;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skillbox:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.skillbox img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.skillbox p {
    font-size: 14px;
    color: #fff; 
    margin: 0;
}

.rolesachievementscontainer {
    background: linear-gradient(to right, rgba(23, 37, 90, 0.8), rgba(201, 64, 101, 0.8));
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.rolesbox, .achievementsbox {
    flex: 1;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: rgba(23, 37, 90, 0.85);
}

.rolesbox h3, .achievementsbox h3 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.roleslist, .achievementslist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.roleitem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(201, 64, 101, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.roleleft {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.roleimage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.roleleft p {
    text-align: left;
    font-size: 1rem;
    color: #fff;
}

.roleright {
    text-align: right;
}

  
.roledate {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}
  
.achievementitem {
    padding: 10px;
    border-radius: 4px;
    background: rgba(201, 64, 101, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1rem;
    opacity: 1;
}
  
  @media (min-width: 321) and (max-width: 375px) {
    .hero {
      min-height: 135vh;
      flex-direction: column;
      padding-top: 150px;
  }

  .herocontent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
  }

  .herotext p {
    text-align: left;
  }

  .heroimage {
    width: 65%;
    height: 65%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .herotext {
      max-width: 90%;
      margin: 0 auto;
  }

  .herotext h2 {
    font-size: 28px;
  }

  .sociallinks {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 5px;
      gap: 15px;
      justify-content: center;
  }

  .sociallinks a {
      font-size: 16px;
  }

  .sociallinks img.icon,
  .sociallinks .gmailicon {
      width: 24px;
      height: 24px;
  }
  
  .sectionlinks {
      display: list-item;
      flex-direction: row; /* Arrange links side by side */
      justify-content: space-between; /* Center the links horizontally */
      width: 100%;
      margin-top: 10px;
      box-sizing: border-box;
    }

    .sectionlinks a {
      font-size: 16px; /* Adjust font size for mobile */
      text-decoration: none; /* Remove underlines */
      color: #ffffff; /* Adjust color as needed */
      padding: 0px 5px; /* Add padding for better touch targets */
      border-radius: 5px; /* Optional: Add rounded corners */
      transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
    .projectsgrid {
      grid-template-columns: 1fr;
    }
  
    .experiencecontainer {
      width: 100%;
    }
  
    .experiencecard {
      flex-direction: column;
      align-items: center;
      text-align: left;
    }
  
    .experiencelogo {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .skillscontainer {
      flex-direction: column;
      align-items: center;
    }
  
    .skillscategory {
      max-width: 100%;
    }
  
    .rolesachievementscontainer {
      flex-direction: column;
    }
  
    .roleitem {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .roleleft {
      flex-direction: column;
      align-items: center;
    }
  
    .roleright {
      margin-top: 10px;
      text-align: center;
    }
  }

  @media (min-width: 376px) and (max-width: 425px) {
    .hero {
      min-height: 135vh;
      flex-direction: column;
      padding-top: 80px;
  }

  .herocontent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
  }

  .herotext p {
    font-size: 18px;
    text-align: left;
  }

  .heroimage {
    width: 90%;
    height: 90%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .herotext {
      max-width: 90%;
      margin: 0 auto;
  }

  .herotext h2 {
    font-size: 30px;
  }

  .sociallinks {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
      gap: 15px;
      justify-content: center;
  }

  .sociallinks a {
      font-size: 20px;
  }

  .sociallinks img.icon,
  .sociallinks .gmailicon {
      width: 26px;
      height: 26px;
  }
  
  .sectionlinks {
      display: list-item;
      flex-direction: row; /* Arrange links side by side */
      justify-content: space-between; /* Center the links horizontally */
      width: 100%;
      margin-top: 20px;
      box-sizing: border-box;
    }

    .sectionlinks a {
      font-size: 18px; /* Adjust font size for mobile */
      text-decoration: none; /* Remove underlines */
      color: #ffffff; /* Adjust color as needed */
      padding: 0px 3px; /* Add padding for better touch targets */
      border-radius: 5px; /* Optional: Add rounded corners */
      transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
    .projectsgrid {
      grid-template-columns: 1fr;
    }
  
    .experiencecontainer {
      width: 100%;
    }
  
    .experiencecard {
      flex-direction: column;
      align-items: center;
      text-align: left;
    }
  
    .experiencelogo {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .skillscontainer {
      flex-direction: column;
      align-items: center;
    }
  
    .skillscategory {
      max-width: 100%;
    }
  
    .rolesachievementscontainer {
      flex-direction: column;
    }
  
    .roleitem {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .roleleft {
      flex-direction: column;
      align-items: center;
    }
  
    .roleright {
      margin-top: 10px;
      text-align: center;
    }
  }

  @media (min-width: 426px) and (max-width: 768px) {
    .hero {
      min-height: 135vh;
      flex-direction: column;
      padding-top: 80px;
  }

  .herocontent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
  }

  .herotext p {
    font-size: 20px;
    text-align: left;
  }

  .heroimage {
    width: 90%;
    height: 90%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .herotext {
      max-width: 90%;
      margin: 0 auto;
  }

  .herotext h2 {
    font-size: 30px;
  }

  .sociallinks {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
      gap: 15px;
      justify-content: center;
  }

  .sociallinks a {
      font-size: 22px;
  }

  .sociallinks img.icon,
  .sociallinks .gmailicon {
      width: 28px;
      height: 28px;
  }
  
  .sectionlinks {
      display: list-item;
      flex-direction: row; /* Arrange links side by side */
      justify-content: space-between; /* Center the links horizontally */
      width: 100%;
      margin-top: 20px;
      box-sizing: border-box;
    }

    .sectionlinks a {
      font-size: 22px; /* Adjust font size for mobile */
      text-decoration: none; /* Remove underlines */
      color: #ffffff; /* Adjust color as needed */
      padding: 0px 3px; /* Add padding for better touch targets */
      border-radius: 5px; /* Optional: Add rounded corners */
      transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
    .projectsgrid {
      grid-template-columns: 1fr;
    }
  
    .experiencecontainer {
      width: 100%;
    }
  
    .experiencecard {
      flex-direction: column;
      align-items: center;
      text-align: left;
    }
  
    .experiencelogo {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .skillscontainer {
      flex-direction: column;
      align-items: center;
    }
  
    .skillscategory {
      max-width: 100%;
    }
  
    .rolesachievementscontainer {
      flex-direction: column;
    }
  
    .roleitem {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .roleleft {
      flex-direction: column;
      align-items: center;
    }
  
    .roleright {
      margin-top: 10px;
      text-align: center;
    }
  }

  @media (max-width: 374px) {
    .hero {
      min-height: 175vh;
      flex-direction: column;
      padding-top: 85px;
  }

  .herocontent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
  }

  .herotext p {
    font-size: 16px;
    text-align: left;
  }

  .heroimage {
    width: 75%;
    height: 75%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .herotext {
      max-width: 90%;
      margin: 0 auto;
  }

  .herotext h2 {
    font-size: 30px;
  }

  .sociallinks {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
      gap: 15px;
      justify-content: center;
  }

  .sociallinks a {
      font-size: 16px;
  }

  .sociallinks img.icon,
  .sociallinks .gmailicon {
      width: 20px;
      height: 20px;
  }
  
  .sectionlinks {
      display: list-item;
      flex-direction: row; /* Arrange links side by side */
      justify-content: space-between; /* Center the links horizontally */
      width: 100%;
      margin-top: 20px;
      box-sizing: border-box;
    }

    .sectionlinks a {
      font-size: 18px; /* Adjust font size for mobile */
      text-decoration: none; /* Remove underlines */
      color: #ffffff; /* Adjust color as needed */
      padding: 0px 3px; /* Add padding for better touch targets */
      border-radius: 5px; /* Optional: Add rounded corners */
      transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
    .projectsgrid {
      grid-template-columns: 1fr;
    }
  
    .experiencecontainer {
      width: 100%;
    }
  
    .experiencecard {
      flex-direction: column;
      align-items: center;
      text-align: left;
    }
  
    .experiencelogo {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .skillscontainer {
      flex-direction: column;
      align-items: center;
    }
  
    .skillscategory {
      max-width: 100%;
    }
  
    .rolesachievementscontainer {
      flex-direction: column;
    }
  
    .roleitem {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .roleleft {
      flex-direction: column;
      align-items: center;
    }
  
    .roleright {
      margin-top: 10px;
      text-align: center;
    }
  }