.blogPage {
    background: linear-gradient(120deg, rgb(56, 38, 124) 0%, rgb(50, 1, 70) 50%, rgb(130, 1, 110) 100%);
    color: #f8f9fa;
    padding-top: 80px;
    font-family: Arial, sans-serif;
  }
  
  .pageTitle {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #ff00ff;
  }
  
  .pageSubtitle {
    text-align: center;
    color: #b3b3b3;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; /* Ensures all cards stretch to the same height */
  }
  .blogCard {
    background: #040422;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(252, 162, 241, 0.5);
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    /* height: 80%;  */
    height: 700px;
    flex-direction: column;
    padding: 20px
  }
  
  .blogCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  
  .blogImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px; /* Adjust based on design needs */
    width: 100%;
  }

  .blogImage {
    /* width: auto; */
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 8px
  }
  
  .blogImage:hover {
    transform: scale(1.05);
  }
  
  .blogContent {
    padding: 20px;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures even spacing */
    gap: 10px; /* Adds uniform spacing */
  }
  
  .blogTitle {
    text-align: left;
    color: #ffffff; 
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .blogDescription {
    color: #b3b3b3; 
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .blogMeta {
    font-size: 14px;
    color: #8c8c8c; 
    margin-bottom: auto; /* Allows content above it to push it down */
    padding: 10px 0;
    border-top: 1px solid #444;
  }
  
  .readMoreButton {
    display: inline-block;
    background: linear-gradient(90deg, #ff00ff, #d5006d);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: auto;
    width: 100%;
    text-align: center;
  }
  
  .readMoreButton:hover {
    background: linear-gradient(90deg, #d5006d, #ff00ff);
    transform: scale(1.05);
  }
  
  .imageGallery {
    margin-top: 30px;
    text-align: center;
  }
  
  .imageGallery img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 10px 0;
  }
  
  .imageGallery h4 {
    font-size: 1.2rem;
    margin-top: 20px;
  }


  @media (max-width: 1200px) and (min-width: 1000px) {
    .blogCard {
      min-height: 750px; /* Adjust height as needed */
    }
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
    .blogCard {
      height: auto; /* Adjust height dynamically */
      padding: 15px;
    }
    .blogContent {
      padding: 15px;
    }

    .content-section{
      padding: 10px;
    }
  }
  
  .authorLink {
    color: #ed67ed; 
    text-decoration: none;
    font-weight: bold;
    text-align: left;
  }
  
  .authorLink:hover {
    text-decoration: underline; 
    color: #d5006d; 
  }